.soon {
  font-family: 'Montserrat', $font-family-fallback;
  background: $color-bg;
  color: $color-brand;
  font-size: 25px;
  margin: 35px auto 0;
  text-align: center;
  border-radius: 15px;
  padding: 0.75em 0;
  max-width: 420px;

  &__icons {

    > span {
      display: inline-block;
      width: 6px;
      height: 6px;
      margin: 0 3px;
      border-radius: 50%;
      background: $color-brand;

      @for $i from 1 through $number-soon-points {
        &:nth-of-type(#{$i}) {
          animation: fade ease-in-out 0.65s ($soon-point-delay * $i) alternate infinite;
        }
      }
    }
  }

  @media (min-width: $breakpoint-medium) {
    font-size: 30px;
    margin: 0 auto;
  }
}
