// Fonts
// --------------------
$default-font-size: 22px;
$medium-font-size: 28px;
$large-font-size: 45px;

$font-family-fallback: 'Helvetica', sans-serif;

// Sizes
// --------------------
$footer-height: 120px;

// Colors
// --------------------
$black: #000;
$green: #579C87;
$light-green: #72BF56;
$yellow: #FDCB46;
$white: #FFF;
$pink: #FCDFDB;
$light-pink: #FFF5FE;
$brown: #3C1218;
$orange: #C77412;
$light-grey: #edefef;
$darker-white: #FDFFFD;
$blue: #3896F8;
$purple: #a56799;
$deep-blue: #6e4ccc;

$color-brand: $yellow;
$color-bg: $green;
$color-text: $black;
$color-text-alt: $white;

// Breakpoints
// --------------------
$breakpoint-small: 576px;
$breakpoint-medium: 780px;
$breakpoint-large: 1100px;
